{% extends 'base.html.twig' %}

{% block body %}
    <h1>Telephone</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ telephone.id }}</td>
            </tr>
            <tr>
                <th>Telephonenumber</th>
                <td>{{ telephone.telephoneNumber }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ telephone.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('telephone_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
