{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usersgroups list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for usersGroup in usersGroups %}
                <tr>
                    <td><a href="{{ path('usersgroup_show', { 'id': usersGroup.id }) }}">{{ usersGroup.id }}</a></td>
                    <td>{{ usersGroup.name }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('usersgroup_show', { 'id': usersGroup.id }) }}">show</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {% block newGroup %} 
            Dodaj nową grupę:
        {% endblock %}
    </div>

{% endblock %}
